<p class="lp">
    <a class="lp-img lp-a" href="{{ link }}" title="{{ title }}">
        <img class="lp-img" src="{{ image }}" data-src="{{ image }}" alt="{{ title }}" style="background: white">
    </a>
    <a class="lp-met lp-a" href="{{ link }}">
        <strong class="lp-ttl">{{ title }}<br></strong><em class="lp-dsc">{{ description }}</em><span class="lp-dom">{{ domain }}</span>
    </a>
</p>