/* :root {
  --accent: #1ABC9C;
  --background: #fffffe;
  --color: rgb(41, 41, 41);
  --color-subtle: rgb(117, 117, 117);
  --secondary: #0074d9;
  --main-width: 50rem;
} */
:root {
  --link-color: #FFD700;
  --link-accent: color-mod(var(--link-color) a(90%));
  
  --background: #1A1818; 
  --color: #F8F6F6;       
  --color-subtle: #D6E3F2;
  --hard-highlight: #FF628C;
  
  --code-text: #FFC107;
  --code-bg: color-mod(var(--code-text) a(15%));
  --main-width: 50rem;
}
