/* :root {
  --accent: #1ABC9C;
  --background: #fffffe;
  --color: rgb(41, 41, 41);
  --color-subtle: rgb(117, 117, 117);
  --secondary: #0074d9;
  --main-width: 50rem;
} */
:root {
  --link-color: #FFD700;
  --link-accent: #FFC107;
  
  --background: #1a1a1a; 
  --color: #f6f6f6;       
  --color-subtle: #b8b8b8;
  
  --code-text: #FFC107;
  --code-bg: color-mod(var(--code-text) a(20%));
  --main-width: 50rem;
}
